@media(max-width: 991px) {
    #background {
        background-position: top;
    }
    
    #portfolio .sites > div {
        margin-bottom: 30px;
    }  

    .portfolio-desc > span {
        display: block !important;
        font-size: 15px;
        margin-bottom: 5px;
    }
}

#background {
    background-image: url("../images/image.png");
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    min-height: 400px;
    z-index: -1;
}

#title {
    background-color: #2f2f2f8f;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    width: 100%;
    top: 90px;
}

#about {
    background-color: #005766;
    color: #fff;
}

#profile {
    background-image: url("../images/me.jpg");
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    background-position-y: center;
}

.section-card {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    text-shadow: 1px 1px black;
}

#portfolio {
    background-color: #005f8c;
    color: #fff;
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #000000d1;
}

.portfolio-item:hover .portfolio-desc > span {
    display: block;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-item:hover .portfolio-img {
    background-repeat: no-repeat;
    transform: scale(1.2);
    filter: blur(1px);
}

#portfolio .sites * {
    transition: 0.5s !important;
}

.portfolio-desc {
    background-color: #00000073;
    position: absolute;
    color: #fff;
    backdrop-filter: blur(2px);
    width: 100%;
    bottom: 0px;
    font-size: 20px;
    
}

.portfolio-desc > span {
    display: none;
    font-size: 15px;
}

.portfolio-desc > p {
    margin-bottom: 0;
}

.img-fit {
    padding-top: calc(2 / 3 * 100%);
    background-size: cover;
}

.sites {
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
}